[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
apache-airflow = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
minio = "*"

[dev-packages]

[requires]
python_version = "3.12"